.card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 10px;
  position: relative;
  width: 325px;
  box-shadow: 0 20px 40px black;
  text-align: center;
}
.card > .img-container {
  height: 80%;
  overflow: hidden;
  text-align: center;
  margin: 10px;
}
.card > .img-container > img {
  width: 90%;
  margin: 5px;
}
.card > .content {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: goldenrod;
}
.card > .content > ul {
  list-style-type: none;
  list-style: none;
}