.title {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 150px;
  color: lightgoldenrodyellow;
  align-content: flex-start;
  background-color: goldenrod;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}
img{
  width: 300px;
  height: 300px;
}
.subtitle {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
  align-content: flex-start;
  background-color: goldenrod;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}