body {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
img {
  height: 300px;
  width: 300px;
} 
body {
  background-image: url(./components/Images/fullbackground.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin-left: 300px;
  margin-right: 300px;
  background-color: goldenrod;
}
