.card {
  background: lightgoldenrodyellow;
  border-radius: 2px;
  height:450px;
  margin: 20px;
  position: relative;
  width: 300px;
  box-shadow: 0 20px 40px black;
  text-align: center;
  margin-left: 2px;
  margin-right:2px;
}
.card > .img-container {
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  margin: 10px;
  width: 90%;
}
.card > .content {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: goldenrod;
}
.card > .content > ul {
  list-style-type: none;
  list-style: none;
}